body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

h3 {
    margin: 15px;
}

nav{
    display: flex;
    align-items: center;
    height: 60px;
    background-color: rgb(101, 0, 114);
    position: fixed;
    width: 100%;
    box-shadow: 0px 2px 7px black; 
    padding: 0 0 0 20px;
}

.home-button {
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 40px;
    text-decoration: none;
}


.li-con  {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 100%;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 20px;
}

.navLi {
    display: flex;
    color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
    list-style: none;
    height: 100%;
    width: 180px; 
    text-decoration: none !important;
}
a:visited {
    color: rgb(255, 255, 255);
}

.navLi:hover {
    background-color: rgb(73, 21, 80);
}

.main-con {
    display: flex;
    flex-direction: column;
}

.main-con-title {
    display: flex;
    justify-content: center;
    margin: 90px 0 0 0;
    font-size: 100px;
}

.main-con-text {
    margin: 20px 30px 0 100px;
    font-size: 25px;
}

.main-con-text-sub {
    display: flex;
    justify-content: center;
}

.main-con-subheader {
    font-size: 30px;
    text-decoration: underline;
    display: flex;
    justify-content: center;
}

.subheader-cont {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 20px;
}

table, th, td {
    border: 1px solid black;
    width: 300px;
    border-collapse: collapse;
}
th {
    font-size: 30px;
}
td {
    font-size: 20px;
}
th, td {
    padding: 10px 30px 10px 30px;
}
table {
    width: 70%;
}
.table-header {
    font-weight: bold;
    text-decoration: underline;
}

.dataType {
    color: rgb(0, 0, 187);
}

.mainDataType {
    font-weight: bolder;
}

.var {
    color: rgb(0, 194, 228)
}

.number {
    color: rgb(100, 206, 141)
}

.method {
    color: rgb(226, 197, 33)
}